/****  5-4 - EXPERIENCE ****/

.section-experience {
    margin-bottom: 30px;
    .icon-experience {
        display: inline-block;
        margin-left: 161px;
        padding: 8px 13px;
    }
    .all-experience {
        margin-left: 180px;
        padding-left: 23px;
    }
    .experience-content {
        padding: 30px;
        margin-bottom: 45px;
        &:before {
            content: '';
            position: absolute;
            left: 191px;
            margin-top: -13px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            box-shadow: 0 0 5px rgba(0, 0, 0, .3);
        }
    }
    
    
}

.section-experience .period-experience {
    display: inline-block;
    position: absolute;
    left: -3px;
    margin-top: -30px;
    width: 174px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1), 0 0 15px rgba(0, 0, 0, .08);
}

.section-experience .specialty-name {
    margin-bottom: 10px;
}

.section-experience .company-name {
    margin-bottom: 8px;
}