<div class="header-section">
    <h2 class="h2-section">EXPERIENCE</h2>
</div>
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="all-experience">
            {{for experience}}
            <!-- single experience -->
            <div class="experience-content">
                <span class="period-experience">{{>duration}}</span>
                <h3 class="specialty-name">{{>position}}</h3>
                <h3 class="company-name">{{>company}}</h3>
                <div class="d-flex flex-row">
                    <div class="p-1">
                        <img src="{{:companyImage}}" width="70px">
                    </div>
                    <div class="prg-experience p-1">
                            {{>description}}
                    </div>
                </div>
            </div>
            {{/for}}
            <!-- / single experience -->
        </div>
    </div>
</div>