<div class="header-section">
    <h2 class="h2-section">PORTFOLIO</h2>
</div>
<div class="row">

    <div class="col-sm-4">
        <div class="item-portfolio term3">
            <div class="item-overlay">
                <div class="item-content">
                    <span class="icon-search">
                        <a class="work-popup" href="./assets/images/portfolio/item1.jpg" data-group="1">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </span>
                    <span class="icon-plus">
                        <a href="#">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </span>
                    <h3>AWESOME TITLE PORTFOLIO</h3>
                </div>
            </div>
            <img src="./assets/images/portfolio/item1.jpg" alt="">
        </div>
    </div>

    <div class="col-sm-4">
        <div class="item-portfolio term1">
            <div class="item-overlay">
                <div class="item-content">
                    <span class="icon-search">
                        <a class="work-popup" href="./assets/images/portfolio/item2.jpg" data-group="1">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </span>
                    <span class="icon-plus">
                        <a href="#">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </span>
                    <h3>AWESOME TITLE PORTFOLIO</h3>
                </div>
            </div>
            <img src="./assets/images/portfolio/item2.jpg" alt="">
        </div>
    </div>

    <div class="col-sm-4">
        <div class="item-portfolio term2">
            <div class="item-overlay">
                <div class="item-content">
                    <span class="icon-search">
                        <a class="work-popup" href="./assets/images/portfolio/item3.jpg" data-group="1">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </span>
                    <span class="icon-plus">
                        <a href="#">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </span>
                    <h3>AWESOME TITLE PORTFOLIO</h3>
                </div>
            </div>
            <img src="./assets/images/portfolio/item3.jpg" alt="">
        </div>
    </div>



    <div class="col-sm-4">
        <div class="item-portfolio term2">
            <div class="item-overlay">
                <div class="item-content">
                    <span class="icon-search">
                        <a class="work-popup" href="./assets/images/portfolio/item4.jpg" data-group="1">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </span>
                    <span class="icon-plus">
                        <a href="#">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </span>
                    <h3>AWESOME TITLE PORTFOLIO</h3>
                </div>
            </div>
            <img src="./assets/images/portfolio/item4.jpg" alt="">
        </div>
    </div>

    <div class="col-sm-4">
        <div class="item-portfolio term1">
            <div class="item-overlay">
                <div class="item-content">
                    <span class="icon-search">
                        <a class="work-popup" href="./assets/images/portfolio/item5.jpg" data-group="1">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </span>
                    <span class="icon-plus">
                        <a href="#">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </span>
                    <h3>AWESOME TITLE PORTFOLIO</h3>
                </div>
            </div>
            <img src="./assets/images/portfolio/item5.jpg" alt="">
        </div>
    </div>

    <div class="col-sm-4">
        <div class="item-portfolio term3">
            <div class="item-overlay">
                <div class="item-content">
                    <span class="icon-search">
                        <a class="work-popup" href="./assets/images/portfolio/item6.jpg" data-group="1">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </span>
                    <span class="icon-plus">
                        <a href="#">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </span>
                    <h3>AWESOME TITLE PORTFOLIO</h3>
                </div>
            </div>
            <img src="./assets/images/portfolio/item6.jpg" alt="">
        </div>
    </div>

</div>