<div class="header-section">
    <h2 class="h2-section">SKILLS</h2>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="professional-skills">
            <div class="title-skills">
                <h3>Technology Proficiency</h3>
            </div>

            {{for technologies}}
            <!-- single skill -->
            <div class="skill">
                <div class="title-progress">
                    <span class="skill-name">{{:name}}</span>
                    <span class="skill-value">{{:percent}}%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{:percent}}%;">
                    </div>
                </div>
            </div>
            <!-- / single skill -->
            {{/for}}
        </div>
    </div>
    <div class="col-md-7">
        <div class="additional-skills">
            <div class="title-skills">
                <h3>Framework &amp; Tools</h3>
            </div>
            <div class="circle-progress">
                <div class="row">
                    {{for frameworks}}
                    <!-- single circle skill -->
                    <div class="col-sm-4 col-xs-6">
                        <div class="circle">
                            <div class="chart-percentage">
                                <span>{{:percent}}%</span>
                            </div>
                            <div class="chart" data-percent="{{:percent}}">
                                <!-- canvas -->
                            </div>
                            <div class="name-circle">
                                <span>{{:name}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- / single circle skill -->
                    {{/for}}
                </div>
            </div>
        </div>
    </div>
</div>